.app {
  display: flex;
  flex-direction: column;
  height: 97vh;
  margin: 1%;
  box-sizing: border-box;
}

/*LOGIN PAGE*/

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-page-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(34, 43, 68, 1);
  gap: 8px;
  border-radius: 16px;
  padding: 1%;
  width: 460px;
}

.login-title {
  font-size: x-large;
  font-weight: bolder;
}

.login-title-wraper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.login-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-input {
  background-color: rgba(18, 24, 37, 1);
  border: 1px solid rgba(49, 62, 98, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  padding-left: 3%;
  padding-right: 3%;
  height: 54px;

  font-family: inherit;
  font-size: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.login-submit-button {
  background-color: rgba(28, 100, 242, 1);
  color: rgba(255, 255, 255, 1);
  font-size: larger;
  border: none;
  border-radius: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  height: 54px;
  margin-top: 16px;
  padding-top: 2%;
  padding-bottom: 2%;
  cursor: pointer;
}

/*CHAT PAGE*/

.chat-page-container {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  gap: 1%;
}

/*SIDEBAR START*/

.sidebar-section {
  display: flex;
  flex-direction: column;
  flex: 15%;
  flex-grow: 1;
  row-gap: 1%;
  background-color: rgba(18, 24, 37, 1);
  height: 100%;
  border-radius: 8px;
  padding: 1%;
  box-sizing: border-box;
}

.chat-section {
  display: flex;
  flex: 90%;
  gap: 16px;
  flex-direction: column;
}

.chat-header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  position: relative;
}

.chat-lang-container {
  display: flex;
  gap: 6px;
  padding: 2%;
  position: relative
}

.chat-lang-container:hover {
  background-color: rgba(49, 62, 98, 1);
  border-radius: 8px;
  cursor: pointer;
}

.lang-widget-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(18, 24, 37, 0.75);
  border: 1px solid rgba(49, 62, 98, 1);
  border-radius: 8px;
  width: 68px;
  padding: 8px;
  top: 100%;
  right: 0;
  margin-top: 4px;
  justify-content: flex-end;
}


.lang-text {
  display: flex;
  height: 42px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.active {
  background-color: rgba(49, 62, 98, 1);
}

.chat-functional-bar-container {
  display: flex;
  justify-content: space-between;
}

.chat-functional-bar-add-search {
  display: flex;
  gap: 10px;
}

.chat-list-container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(49, 62, 98, 1);
  padding-top: 8px;
  gap: 4px;
}

.chat-item-container {
  display: flex;
  justify-content: space-between;
  height: 38px;
  align-items: center;
}

.chat-item-container:hover {
  border-bottom: 1px solid rgba(34, 43, 68, 1);
}

.chat-item-info {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.user-card-section {
  display: flex;
  flex: 30px;
  border: 1px solid rgba(49, 62, 98, 1);
  border-radius: 18px;
  padding: 5%;
  justify-content: space-between;
  align-items: center;
}

.user-card-data-section {
  display: flex;
}

.user-card-data {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

/*SIDEBAR END*/

/*MESSAGE AREA START*/

.message-area-section {
  display: flex;
  flex: 100%;
  flex-grow: 1;
  background-color: rgba(18, 24, 37, 1);
  height: 100%;
  width: 100%;
  border-radius: 8px;
  padding: 1%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.messages-container {
  display: flex;
  width: 80%;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.zero-message {
  display: flex;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
}

.message-writing-zone-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.ai-name-container {
  display: flex;
  gap: 10px;
  border: 1px solid rgba(49, 62, 98, 1);
  border-radius: 10px;
  width: max-content;
  padding: 1%;
  align-items: center;
}

.ai-name-container:hover {
  background-color: rgba(49, 62, 98, 1);
  cursor: pointer;
}

.message-input-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(49, 62, 98, 1);
  border-radius: 10px;
  padding: 1%;
  gap: 10px;
}

.message-input {
  background-color: rgba(18, 24, 37, 1);
  border: none;
  color: rgba(255, 255, 255, 1);
  font-family: inherit;
  font-size: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  width: 100%;
}

.ai-widget-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(18, 24, 37, 0.75);
  border: 1px solid rgba(49, 62, 98, 1);
  border-radius: 8px;
  width: 252px;
  padding: 8px;
  bottom: 100%;
  margin-bottom: 8px;
  justify-content: flex-end;
}

.ai-text-wrapper {
  display: flex;
  border-radius: 8px;
  align-items: center;
  gap: 4px;
}

.ai-text {
  display: flex;
  height: 44px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.message-list-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;

  max-height: 800px;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(49, 62, 98, 1) transparent;
}

.message-list-container::-webkit-scrollbar {
  width: 4px;
}

.message-list-container::-webkit-scrollbar-track {
  background: transparent;
}

.message-list-container::-webkit-scrollbar-thumb {
  background-color: rgba(49, 62, 98, 1);
  border-radius: 10px;
}

/* right message start */

.message-right-item-container {
  display: flex;
  justify-content: right;
  gap: 10px;
}

.message-right-body {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  padding: 8px 12px;
  background-color: rgba(71, 133, 255, 0.5);
  border-radius: 10px 10px 0px 10px;
  max-width: 60%;
  word-break: break-word;
}

.message-text {
  display: flex;
  width: 80%;
  align-items: center;
  padding: 6px 6px;
}

.message-time {
  font-size: x-small;
  align-self: flex-end;
  padding: 0 5px;
  white-space: nowrap;
}

/* right message end */

/* left message start */

.message-left-item-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ai-model {
  display: flex;
  gap: 10px;
  padding-left: 60px;
}

.message-left-body {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.message-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.message-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.message-left-info {
  display: flex;
  padding-left: 60px;
}

.token-cost-wrapper {
  display: flex;
  gap: 14px;
}

.ai-name {
  display: flex;
  align-items: center;
}

.ai-type {
  background-color: rgba(34, 43, 68, 1);
  border-radius: 14px;
  padding: 4px;
  padding-right: 12px;
  padding-left: 12px;
}

.message-time-wrapper {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

/* left message end */

/*MESSAGE AREA END*/

/* Icons and IMAGE */

.avatar-image-wrapper {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.avatar-image-message-wrapper {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.exit-icon-wrapper {
  align-content: center;
}

.exit-icon {
  width: 16px;
  height: 16px;
}

.arrow-down-icon-wrapper {
  align-content: center;
}

.add-chat-icon-wrapper {
  display: flex;
  background-color: rgba(28, 100, 242, 1);
  border: 1px solid rgba(49, 62, 98, 1);
  border-radius: 8px;
  width: 38px;
  height: 38px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-icon-wrapper {
  display: flex;
  border: 1px solid rgba(49, 62, 98, 1);
  border-radius: 8px;
  width: 38px;
  height: 38px;
  justify-content: center;
  align-items: center;
}

.minimize-icon-wrapper {
  display: flex;
  width: 38px;
  height: 38px;
  justify-content: center;
  align-items: center;
}

.chat-icon-wrapper, .trash-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trash-icon-wrapper {
  cursor: pointer;
}

.send-icon-wrapper {
  display: flex;
  background-color: rgba(28, 100, 242, 1);
  border-radius: 8px;
  width: 38px;
  height: 38px;
  justify-content: center;
  align-items: center;
}

.copy-icon-wrapper {
  display: flex;
  align-items:flex-end;
}

.ai-avatar-wrapper {
  width: 40px;
  height: 40px;
}

.gpt-icon-40 {
  width: 40px;
  height: 40px;
}

.gpt-icon-18 {
  width: 18px;
  height: 18px;
}
